body {
    background-image: url('About.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: 100% 100%;            
  }
  * {
      color : white ;
      border: solid;

  }
  .para {
      font-size : 25 ;
  }